
/*cambia el menu a negro cuando se desliza*/
#direct2>p
{
	color: red !important;
}
.negro
{
  background: rgba(0,0,0,0.9)!important;
  font-family: Bauserif !important;
}
/*color del  menu*/
.blanco
{
	font-family: Bauserif !important;
	background: rgba(255,255,255,0.8) !important;
}
.subtitulo
{
	background: rgb(255,255,255,0.5);
	font-weight: bold;
	font-family: Neuton Regular;
	display: block;
}
/*clase del logo*/
.logo
{
	width:120px;
	height:60px;
}
.logo2
{
	content:url(../img/logo2.png);
	width:120px;
	height:60px;
}
.numeros p
{
	margin:6px;
	color: black;
	margin-left:30px;
}
.numeros2 p
{
	color: white;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>ul>li>a
{
	text-decoration: none;
	color: black;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

/* =============================================================================*/
/*para cambiar el tamano del slider */
.carousel-inner img {
    height: 100vh;
	background-size: cover;
	background-position: center;
}
/*modificar el css  el titulo en el slider*/
.carousel-caption
{
	background: rgba(0,0,0,0.5);
}
/* =============================================================================*/

/* css para los link de las tarjetitas */
.card-body>a
{
	color: black;
}
/*Mapa*/
.imagensomos
{
	padding-bottom: 2em;
	margin-bottom:  4em;
}
.imagensomos1 img
{
	width: 100%;
	height:30em;
	padding-top: 12%;
	margin:0;
}